<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/Lesson17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we are going to import pandas, and our data.

In [2]:
import pandas as pd

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv',header = 0)

df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [36]:
df.dtypes

SepalLength    float64
SepalWidth     float64
PedalLength    float64
PedalWidth     float64
Class           object
dtype: object

Now we are going to gather the mean of the data as it is now, then the mean of the data as an integer.

In [22]:
df.SepalLength.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64>

In [23]:
df.SepalLength.astype('int').mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLength, Length: 150, dtype: int64>

It appears that converting the data to an int made it take the floor of the value.

Now we are going to gather the mean of the data both before and after we convert it to an 'int'.

In [24]:
df.groupby('Class').SepalLength.agg(['mean'])

                  mean
Class
Iris-setosa      5.006
Iris-versicolor  5.936
Iris-virginica   6.588

Here I am setting the data in the table to int.

In [41]:
df.SepalLength = df.SepalLength.astype('int')

In [42]:
df.groupby('Class').SepalLength.agg(['mean'])

                 mean
Class
Iris-setosa      4.60
Iris-versicolor  5.48
Iris-virginica   6.08

We get the same results as before, the values are lower after ran as an int.

In [51]:
df.SepalLength = df.SepalLength.astype('float64')

Now that I have converted it back we are going to gather the mean, median, count and std as both float64 and an int to see the difference.

In [56]:
df.groupby('Class').SepalLength.agg(['mean','median','count', 'std'])

                  mean  median  count       std
Class
Iris-setosa      5.006     5.0     50  0.352490
Iris-versicolor  5.936     5.9     50  0.516171
Iris-virginica   6.588     6.5     50  0.635880

In [57]:
df.SepalLength = df.SepalLength.astype('int')

In [58]:
df.groupby('Class').SepalLength.agg(['mean','median','count', 'std'])

                 mean  median  count       std
Class
Iris-setosa      4.60     5.0     50  0.494872
Iris-versicolor  5.48     5.0     50  0.579937
Iris-virginica   6.08     6.0     50  0.665168

The 'int' table took the floor values once again, but the standard deviation is higher than the 'float64' values.