<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/Lesson13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Integer

2. Yes you can assign an order, for job I would do alphabetical (it appears to already be in that order) and for education I would do shortest length of schooling to longest ending in unknown except that there are objects in there that are not a length of schooling so I don't think you can assign an order.

First im going to import pandas and the data and also peak at what we have.

In [1]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

Now im going to gather our categories

In [8]:
df.job = df.job.astype('category')

df.dtypes

age             int64
job          category
marital        object
education      object
default        object
balance         int64
housing        object
loan           object
contact        object
day             int64
month          object
duration        int64
campaign        int64
pdays           int64
previous        int64
poutcome       object
y              object
dtype: object

Then here I will order the data the way I want.

In [9]:
from pandas.api.types import CategoricalDtype

cat_type = CategoricalDtype(categories=['admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown'], ordered=True)

dfjob = df.job.astype(cat_type)

dfjob.dtype

CategoricalDtype(categories=['admin.', 'blue-collar', 'entrepreneur', 'housemaid',
                  'management', 'retired', 'self-employed', 'services',
                  'student', 'technician', 'unemployed', 'unknown'],
, ordered=True)

3. There are a few categories in the data that could be a boolean, but we will go ahead and just gather housing.

In [10]:
df.housing == 'yes'

0       False
1        True
2        True
3        True
4        True
        ...
4516     True
4517     True
4518    False
4519    False
4520     True
Name: housing, Length: 4521, dtype: bool

One thing I have noticed is the intense amount of personal data a bank keeps on its customers.  Maybe for a loan some of this would make sense.  But why would they need to know your education.  They just need to know if you have money there or are over your limit and how to contact you.  Most of the rest seems to be digging.