<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/Lesson16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we import pandas and our data. We also take a peek at our data.

In [72]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head()

                                    id  room_id/id  ... temp  out/in
0  __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1  __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2  __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3  __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4  __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In

[5 rows x 5 columns]

Now we need to find the min and max date.

EDIT: I kept trying to do it with the same syntax as in bigquery >:|

In [3]:
df.noted_date.max()

'31-10-2018 23:57'

In [4]:
df.noted_date.min()

'01-11-2018 00:06'

Now we need to convert the date to pandas date time.

In [25]:
df.noted_date = pa.to_datetime(df.noted_date, format='%d-%m-%Y %H:%M')

Now that we have that out of the way we are going to use the shift function to see the time between checks and then find the max of that.

In [26]:
df.noted_date.shift()

0                       NaT
1       2018-12-08 09:30:00
2       2018-12-08 09:30:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:07:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

Now we need to gather the difference between the shift and the orignal. And im going to also apply the max function to it at the same time.

In [28]:
max(df.noted_date.shift(fill_value=0)-df.noted_date)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing <class 'int'> to shift is deprecated and will raise in a future version, pass Timestamp instead.
  """Entry point for launching an IPython kernel.

Timedelta('11 days 13:38:00')

So the longest time between checks was 11 days.

Now im going to try to apply the .mean() to the datetime column and see if that works or not.

In [38]:
df.noted_date.mean()

Timestamp('2018-10-07 05:10:38.821178880')

It did give us an answer so that's cool.

In [84]:
df.where(df.noted_date == '09-11-2018 %H:%M')

        id room_id/id noted_date  temp out/in
0      NaN        NaN        NaN   NaN    NaN
1      NaN        NaN        NaN   NaN    NaN
2      NaN        NaN        NaN   NaN    NaN
3      NaN        NaN        NaN   NaN    NaN
4      NaN        NaN        NaN   NaN    NaN
...    ...        ...        ...   ...    ...
97601  NaN        NaN        NaN   NaN    NaN
97602  NaN        NaN        NaN   NaN    NaN
97603  NaN        NaN        NaN   NaN    NaN
97604  NaN        NaN        NaN   NaN    NaN
97605  NaN        NaN        NaN   NaN    NaN

[97606 rows x 5 columns]

In [103]:
day = df.noted_date('09-11-2018')

TypeError: ignored

I can not figure out what I need to do in order to get only the rows with that date. But I feel that it could be accomlished relatively easy in bigquery with something like 
SELECT noted_date, temp
FROM (insert data)
WHERE noted_date == '09-11-2018'