<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/Lesson15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

first we are going to import pandas and view the table.

In [79]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

Now we are going to display the column names to see what exactly we have.

In [80]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

I need to import RegEx.

In [56]:
import re

df1.columns = re.sub(r"\[(.+)\]","", 1)

TypeError: ignored

Note: Use lambda split maybe

I could not figure out how to work RegEx exactly so lets try using pandas.

In [81]:
for column in df1.columns:
  df1.columns = df1.columns.str.replace(r"\[(.+)\]","")

df1.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

okay so that seemed to get rid of the brackets now lets get rid of the parenthesis.


*1 This down below ↓ ran but did not remove what was inside of the (), the next code that I ran did work.

In [76]:
for column in df1.columns:
  df1.columns = df1.columns.str.replace(r"\W"," ")

df1.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

Index(['Rank', 'Mountain name s ', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country  disputed claims in italics '],
      dtype='object')

*2 So the above code didn't do what I wanted so I did some googling and came up with this which did work the way I needed it too.

In [82]:
df1.columns = df1.columns.str.replace(r"\(.*\)","")
df1.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country '],
      dtype='object')

For the country column, I think that adding a , at the end of every row then replacing the [] and everything in them with a "," would do the trick for the most part, then split by ",".  I know that leaves some that would be empty because there are some data cells that have several brackets in it.  But I feel like you could exclude the empty cells.

Resources:
*1 = https://www.youtube.com/watch?v=HU0re8UJViM&ab_channel=DerrickSherrill he showed me Pandas way of cleaning up names.

2* = https://stackoverflow.com/questions/20894525/how-to-remove-parentheses-and-all-data-within-using-pandas-python  this showed me how to remove the () and everything inside.