<a href="https://colab.research.google.com/github/JoshStrother/DataVisualization/blob/main/lesson12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Firstly we authenticated and now I am going to just look at the data that I actually have.

In [2]:
%%bigquery --project data-viz-338716
SELECT *
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
LIMIT 5

   incident_number  ... num_pumps_attending
0  000320-01012017  ...                   2
1  003727-09012017  ...                   2
2  003762-09012017  ...                   2
3  006403-16012017  ...                   2
4  010947-26012017  ...                   1

[5 rows x 32 columns]

Okay now we want to count the number of rows in order to answer 1.A

In [5]:
%%bigquery --project data-viz-338716
SELECT COUNT(*) as num_of_rows
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`

   num_of_rows
0        32247

Now we want to count the number of false alarms between 10PM and 5AM, which in the data would be >= 22 and <= 5.

In [10]:
%%bigquery --project data-viz-338716
SELECT COUNT(*) as num_of_false_alarms_late_night
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
WHERE incident_group = "False Alarm" AND (hour_of_call >= 22 OR hour_of_call <= 5)

   num_of_false_alarms_late_night
0                            3098

Next we want to get the AVG and in order to be more specific we will group based on the incident.

In [14]:
%%bigquery --project data-viz-338716
SELECT incident_group as fire_type, AVG(num_pumps_attending) as num_of_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

         fire_type  num_of_pumps
0      False Alarm      1.725776
1             Fire      1.633012
2  Special Service      1.177192

Now we want the most number of pumps used as a Road Vehicle property type.  So we will gather the max num of pumps and the property, then we will narrow it down to when its a Road Vehicle and groupby the property type.

In [17]:
%%bigquery --project data-viz-338716
SELECT property_category, Max(num_pumps_attending) as num_of_pumps
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
WHERE property_category = "Road Vehicle"
GROUP BY property_category

  property_category  num_of_pumps
0      Road Vehicle             6

----------------------------------------------------------------------------------------------------------------------------------------------------------------

In [18]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/Oklahoma')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")

In [20]:
tables = html_soup.find_all('table',class_="wikitable")
tables[0].find_all('a')

In [21]:
df = pa.read_html(str(tables))[0]
df

            City Unnamed: 1  ...           Nov           Dec
0  Oklahoma City  Avg. high  ...  62 °F(17 °C)  51 °F(11 °C)
1  Oklahoma City   Avg. low  ...   40 °F(4 °C)  31 °F(−1 °C)
2          Tulsa  Avg. high  ...  61 °F(16 °C)   49 °F(9 °C)
3          Tulsa   Avg. low  ...   40 °F(4 °C)  30 °F(−1 °C)
4         Lawton  Avg. high  ...  62 °F(17 °C)  52 °F(11 °C)
5         Lawton   Avg. low  ...   39 °F(4 °C)  30 °F(−1 °C)

[6 rows x 14 columns]